<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <button>Enter a New Movie</button>
    <br>
    <br>
    <button>Watched Movies</button>
    <br>
    <br>
    <button>Log Out</button>
</body>
</html>